body {
    background-color: black;
    color: aliceblue;
}

.courses {
    background-color: #ebba34;
    color: #292723;
    border-radius: 10px;
    text-align: center;
}

.menu-image {
    background-position: no-repeat top center/cover;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    /* float: right; */
}
