body {
    background-color: #191919;
    color: #EDEDED;
}

.btn {
    background-color: #D39E0B;
    color: #191919;
    border: none;
}

.courses {
    background-color: #D39E0B;
    color: #191919;
    border-radius: 10px;
    text-align: center;
}

.menu-image {
    background-position: no-repeat top center/cover;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    /* float: right; */
}

#baratie-logo {
    max-width: 20vw;
    max-height: 5vh;
}

.owners {
    max-width: 300px;
    max-height: 500px;
}
