{% extends "base.html" %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid text-center">
    <div class="text-center">
        <h1>"Service, service, still more service!"</h1>
        <p>The Baratie is an ocean-going restaurant run by "Red-Leg" Zeff. It is located in the Sambas Region of the
            East
            Blue, close
            to
            the Paradise half of the Grand Line</p>
    </div>
    <img class="img-fluid bg-light rounded" src="/static/images/baratie-exterior-concept.jpeg"
        alt="exterior view of the baratie">
    <div>
        <p>During his pirate career, Zeff endured many periods of starvation on the sea, leading him to fantasize about
            a
            restaurant that could sail to any seafarer in need. When a storm stranded him and the ten-year-old Sanji on
            a
            rock
            island, the ensuing months of starvation led Zeff to vow that he would open the restaurant himself if he
            survived—a
            vow that Sanji tearfully joined. After they were found and rescued, Zeff sold all of his surviving loot to
            launch the Baratie, with himself as owner and head chef, Sanji his first employee, and a policy of feeding
            any
            hungry visitor no matter how villainous.

            Over the next nine years, Zeff continued to hire cooks until the Baratie's staff numbered dozens. Fitting
            his
            own
            background, many of these cooks were brutes and outcasts—particularly Carne and Patty, a duo fired from
            hundreds
            of
            other eateries for their constant brawling. Even so, the Baratie gained much renown throughout the East
            Blue,
            with
            some patrons even finding its violence entertaining.</p>
    </div>
    <div class="row">
        <div class="col">
            <img class="owners" src="/static/images/zeff.webp" alt="red leg zeff">
            <p>"Red-Leg" Zeff</p>
        </div>
        <div class="col">
            <img class="owners" src="/static/images/sanji.jpg" alt="black foot sanji">
            <p>"Black Foot" Sanji</p>
        </div>
    </div>
</div>
<!-- index.html content ends here -->
{% endblock %}