{% extends "base.html" %}

{% block content %}

{% load static %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <h1 class="text-center mb-3">The Baratie Menu</h1>

    <h2 class="courses">Starters</h2>
    <div class="row m-3">
        <div class="col">
            <h4>Smile Fruit</h4>
            <p>The perfect start to any meal! Guaranteed to give you a great experience.</p>
        </div>
        <div class="col-2">
            <img src="/static/images/smile-fruit.jpg" alt="" class="menu-image">
        </div>
    </div>

    <h2 class="courses">Mains</h2>
    <div class="row m-3">
        <div class="col">
            <h4>Seafood Fried Rice</h4>
            <p>A variation of fried rice made using different types of seafood. The Baratie version of seafood fried
                rice uses octopus, squid, and shrimp as its main ingredients.</p>
        </div>
        <div class="col-2">
            <img src="/static/images/seafood-fried-rice.png" alt="" class="menu-image">
        </div>
    </div>
    <div class="row m-3">
        <div class="col">
            <h4>Dress Shrimp Paella</h4>
            <p>A dish popular in Dressrosa consisting of saffron-flavoured rice cooked with meats, seafood, and
                vegetables.</p>
        </div>
        <div class="col-2">
            <img src="/static/images/shrimp-paella.jpg" alt="" class="menu-image">
        </div>
    </div>
    <div class="row m-3">
        <div class="col">
            <h4>Meat</h4>
            <p>Protein, protein, protein! Want to become king of the pirates? This is the meal for you, a mountain of
                every kind of meat you can think of!</p>
        </div>
        <div class="col-2">
            <img src="/static/images/meat.png" alt="" class="menu-image">
        </div>
    </div>
    <div class="row m-3">
        <div class="col">
            <h4>Penne Gorgonzola with Sea King Meat</h4>
            <p>Amazon Lily's specialty a creamy tomato pasta dish. Containing penne pasta, gorgonzola cheese, and
                freshly caught Sea King meat.</p>
        </div>
        <div class="col-2">
            <img src="/static/images/penne-gorganzola-sea-king.png" alt="" class="menu-image">
        </div>
    </div>

    <div class="row m-3">
        <div class="col">
            <h4>Oden</h4>
            <p>A soy-flavored dashi broth base and various flavorful ingredients, all stewed together containing
                various mushrooms, root vegetables (like daikon and konjac), noodles, and skewered meatballs.</p>
        </div>
        <div class="col-2">
            <img src=" /static/images/oden.jpg" alt="" class="menu-image">
        </div>
    </div>

    <h2 class="courses">Kids</h2>

    <h2 class="courses">Sides</h2>
    <div class="row m-3">
        <div class="col">
            <h4>Onigiri</h4>
            <p>Onigiri are Japanese rice balls made of steamed rice that you compress into a triangular, ball, or
                cylinder shape and are usually wrapped in a nori seaweed sheet. You can flavor them lightly with just
                salt or add a variety of fillings.</p>
        </div>
        <div class="col-2">
            <img src="/static/images/onigiri.jpg" alt="" class="menu-image">
        </div>
    </div>

    <h2 class="courses">Desserts</h2>
    <div class="row m-3">
        <div class="col">
            <h4>Dango</h4>
            <p>Dango is a traditional Japanese dessert, a small dumpling commonly made from glutinous rice flour
                (Mochiko), water, and sugar, usually served on a skewer in a group of three to five.</p>
        </div>
        <div class="col-2">
            <img src="/static/images/dango.jpg" alt="" class="menu-image end-50">
        </div>
    </div>
    <div class="row m-3">
        <div class="col">
            <h4>Croquembouche</h4>
            <p>Croquembouche, a classic French dessert, is an impressive display of small cream-filled choux pastries
                piled upon each other to make a mountain. It was a favorite on Cake Island.</p>
        </div>
        <div class="col-2">
            <img src="/static/images/croquembouche.jpg" alt="" class="menu-image">
        </div>
    </div>
</div>
</div>
<!-- index.html content ends here -->
{% endblock %}